{% extends "block-base.twig" %}

{% block content %}

<div class="customBlockWrapper {{ block_class }}" id="{{ block.id }}">
    <div class="customBlock">
        {% if fields.title %}
        <p class="title scroll-show">{{ fields.title }}</p>
        {% endif %}
        {% if fields.feedback is iterable %}
        <div class="feedbackWrapper">
            <div class="feedback swiper"{% if fields.interval %} data-interval="{{ fields.interval }}"{% endif %}>
                <div class="swiper-wrapper">
                    {% for key,val in fields.feedback %}
                    {% include 'overall/feedback-item.twig' %}
                    {% endfor %}
                </div>
                <div class="feedback-swiper-pagination swiper-pagination"></div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
