/* banner
-------------------------------------------------------------- */

@import "../../mixins";

.main-banner{
  background-color: #f2aa3c;
  overflow: hidden;
  
  .customBlock{
    padding: 30px 120px;

    @media (max-width: 1024px){
      padding: 20px 80px;
    }

    @media (max-width: 640px){
      padding: 64px 0;
    }

    .typo{
      text-align: center;
      max-width: 1140px;
      margin: 0 auto;
      color: #264034;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 1px;
      filter: drop-shadow(0px 1px 0px rgba(white,.5));

      @media (max-width: 1024px){
        font-size: 24px;
      }

      @media (max-width: 640px){
        font-size: 18px;
      }

      @include transition(all,1s);
      @include opacity(0);
      @include transform(scale(.75));
    }
  }

  &:before,
  &:after{
    content: '🎉';
    font-size: 68px;
    line-height: 1;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -34px;
    pointer-events: none;
    filter: drop-shadow(0px 1px 0px rgba(white,.5));
    @include transition(all,1s);
    @include opacity(0);

    @media (max-width: 1024px){
      font-size: 48px;
    }
  }
  &:before{
    @include transform(translateX(100px) translateZ(2px));
    right: 40px;

    @media (max-width: 1024px){
      right: 20px;
    }

    @media (max-width: 640px){
      right: auto;
      left: 50%;
      margin-left: -16px;
      font-size: 32px;
      top: 20px;
      margin-top: 0;
    }
  }
  &:after{
    @include transform(translateX(-100px) translateZ(2px));
    left: 40px;

    @media (max-width: 1024px){
      left: 20px;
    }

    @media (max-width: 640px){
      right: auto;
      left: 50%;
      margin-left: -16px;
      font-size: 32px;
      top: auto;
      margin-top: 0;
      bottom: 20px;
    }
  }

  &.show,
  .wp-admin &,
  .wp-embed-responsive &{
    .customBlock{
      .typo{
        @include opacity(1);
        @include transform(scale(1));
      }
    }
    &:before{
      @include transform(translateX(0) translateZ(2px));
      @include opacity(1);
    }
    &:after{
      @include transform(translateX(0) translateZ(2px));
      @include opacity(1);
    }
  }
}
