/* feedback
-------------------------------------------------------------- */

@import "../../mixins";

.main-feedback{
  padding: 0 !important;

  .customBlock{
    padding: 60px 0 40px;
    max-width: 100%;

    & > .title{
      font-size: 38px;
      font-weight: 700;
      text-align: center;
      line-height: 1.2;
      max-width: 1140px;
      margin: 0 auto 62px;
      padding: 0 40px;

      @include transition(all,.35s);
      @include opacity(0);
      @include transform(translateY(30px));

      &.show,
      .wp-admin &,
      .wp-embed-responsive &{
        @include opacity(1);
        @include transform(translateY(0px));
      }
    }

    .feedbackWrapper{
      user-select: none;

      .feedback{
        padding: 0 40px 80px;

        .item{
          text-align: left;
          padding-top: 85px;

          .inner{
            position: relative;
            background-color: #fff;
            border-radius: 8px;
            color: #000;
            padding: 98px 22px 20px 22px;
          }

          picture{
            position: absolute;
            display: block;
            font-size: 0;
            margin-bottom: 18px;
            left: 50%;
            top: 0;
            margin-top: -85px;
            margin-left: -83px;

            img{
              width: 168px;
              height: 168px;
              border-radius: 50%;
              object-fit: cover;
              margin: 0;
              padding: 0;
            }
          }

          .title{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 4px;
            text-align: center;
          }

          .rating{
            display: block;
            position: relative;
            width: 88px;
            height: 16px;
            margin: 0 auto 20px;

            .layer{
              display: block;
              position: absolute;
              top: 0;
              font-size: 0;
              overflow: hidden;
              white-space: nowrap;

              svg{
                display: inline-block;
                vertical-align: top;
                width: 16px;
                height: 16px;
                margin: 0 1px;

                &:first-child{
                  margin-left: 0;
                }
                &:last-child{
                  margin-right: 0;
                }
              }

              &.gray{
                right: 0;
                text-align: right;
                direction: rtl;
                z-index: 2;
                @include transform(translateZ(2px));

                svg{
                  fill: #AFAFAF;
                }
              }

              &.yellow{
                left: 0;
                text-align: left;
                z-index: 4;
                @include transform(translateZ(4px));

                svg{
                  fill: #F8A618;
                }
              }
            }
          }

          .typo{
            font-size: 15px;
            line-height: 1.5;
          }
        }
      }

      .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        margin: 0 9px;

        &-active{
          background-color: #fff;
        }
      }
    }
  }
}
