/* form
-------------------------------------------------------------- */

@import "../../mixins";

.main-form{
  background-color: white;
  color: black;

  .customBlock{
    padding: 60px 0;
    max-width: 1140px;

    @media (max-width: 1024px){
      padding: 30px 0;
    }

    & > .title{
      font-size: 38px;
      font-weight: 700;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 28px;

      @media (max-width: 1024px){
        font-size: 30px;
        margin-bottom: 20px;
      }

      @media (max-width: 640px){
        font-size: 26px;
      }

      @include transition(all,.35s);
      @include opacity(0);
      @include transform(translateY(30px));

      &.show,
      .wp-admin &,
      .wp-embed-responsive &{
        @include opacity(1);
        @include transform(translateY(0px));
      }
    }

    .typo{
      text-align: center;
      max-width: 520px;
      margin: 0 auto 32px;
      line-height: 1.6;

      @media (max-width: 1024px){
        margin-bottom: 20px;
      }

      @include transition(all,.35s);
      @include opacity(0);
      @include transform(translateY(30px));

      &.show,
      .wp-admin &,
      .wp-embed-responsive &{
        @include opacity(1);
        @include transform(translateY(0px));
      }
    }

    form{
      display: block;
      margin: 0 auto;
      max-width: 580px;

      &.busy{
        @include opacity(.5);
        pointer-events: none;
      }

      .fields{
        margin-bottom: 32px;

        @media (max-width: 1024px){
          margin-bottom: 20px;
        }

        label{
          display: block;
          width: 100%;
          box-sizing: border-box;
          margin-bottom: 20px;

          &:last-child{
            margin-bottom: 0;
          }

          p{
            line-height: 1;
            margin-bottom: 8px;
            font-size: 12px;
            font-weight: 700;
          }

          input,
          textarea,
          select{
            display: block;
            max-width: 100% !important;
            width: 100% !important;
            box-sizing: border-box;
            font-family: inherit;
            border: solid 1px #cacaca;
            border-radius: 4px;
            color: #000;
            transition: border, .25s;
            font-size: 15px;

            @include placeholder(){
              color: #9d9d9d;
            }

            &:focus{
              border: solid 1px #000;
            }

            &.red{
              border: solid 1px red;
            }
          }

          input{
            padding: 8px 14px;
          }

          select{
            padding: 8px 10px;
            color: #9d9d9d;

            &.selected{
              color: #000;
            }
          }

          textarea{
            resize: none;
            min-height: 80px;
            max-height: 320px;
            padding: 8px 14px;
            overflow: hidden;
          }
        }
      }

      .submitWrapper{
        display: flex;
        justify-content: center;
        align-items: center;

        button{
          font-family: inherit;
          line-height: 1;
          border-radius: 48px;
          padding: 14px 26px;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          @include transition(all, .2s);
          text-decoration: none;
          font-size: 15px;
          font-weight: 600;
          overflow: hidden;
          color: white;
          border: 2px solid #224A30;
          background: #224A30;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 640px){
            padding: 10px 20px;
            font-size: 14px;
          }

          span{
            display: inline-block;
            position: relative;
            z-index: 8;
            @include transform(translateZ(8px));
          }

          svg{
            width: 24px;
            height: 24px;
            fill: white;
            transition: inherit;
            margin-left: 14px;
          }

          &:hover{
            border: 2px solid #224A30;
            color: #224A30;
            background-color: white;

            svg{
              fill: #224A30;
            }
          }
        }
      }
    }
  }
}
