/* form
-------------------------------------------------------------- */

@import "../../mixins";

.main-form{
  background-color: white;
  color: black;

  .customBlock{
    padding: 60px 0;
    max-width: 1140px;
  }
}
