/* simple-text
-------------------------------------------------------------- */

@import "../../mixins";

.main-simple-text{
  background-color: white;
  color: black;

  .customBlock{
    display: block;
    padding: 60px 0;
    max-width: 860px;

    .title{
      font-weight: 700;
      font-size: 42px;
      line-height: 1.2;
      margin-bottom: 28px;

      @include transition(all,.35s);
      @include opacity(0);
      @include transform(translateY(30px));

      &.show,
      .wp-admin &,
      .wp-embed-responsive &{
        @include opacity(1);
        @include transform(translateY(0px));
      }
    }

    .text{
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 48px;

      @include transition(all,.35s);
      @include opacity(0);
      @include transform(translateY(30px));

      &.show,
      .wp-admin &,
      .wp-embed-responsive &{
        @include opacity(1);
        @include transform(translateY(0px));
      }
    }

    .buttons{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .overallButton{
        margin-right: 20px;

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
