{% extends "base.twig" %}

{% block content %}

<div class="checkoutWrapper">
    <div class="checkout">
        <h3 class="title">{{ __('Checkout page', TEXTDOMAIN) }}</h3>
    </div>
</div>

{% endblock %}
