<label for="{{ label }}">
    <input type="checkbox" value="1" class="widget-options-checkbox" name="{{ label }}" id="{{ label }}"{% if value %} checked="checked"{% endif %} />
    <span class="indicator"></span>
    {{ description }}
</label>
