{% if items and items is iterable %}
    {% include 'overall/positions.twig' with {'where_am_i': 'cart'} %}
{% endif %}
<p class="overallButton green inline">
    <a href="{{ BLOGINFO_URL }}/{{ general_fields.shop.checkout_page_url }}/">
        <span>{{ __('Go to checkout page', TEXTDOMAIN) }}</span>
    </a>
</p>
