{% if items and items is iterable %}
    {% include 'overall/positions.twig' %}
{% endif %}
<p class="overallButton green inline">
    <a href="{{ BLOGINFO_URL }}/{{ general_fields.shop.checkout_page_url }}/">
        <span>{{ __('Go to checkout page', TEXTDOMAIN) }}</span>
    </a>
</p>
