<div class="confirmation">
    <form class="profile-confirm-email">
        <p>{{ __("Enter verification code from Email", TEXTDOMAIN) }}</p>
        <p class="codeInput">
            <input type="text" maxlength="1" size="1" class="input_1" name="value_1" autocomplete="off">
            <input type="text" maxlength="1" size="1" class="input_2" name="value_2">
            <input type="text" maxlength="1" size="1" class="input_3" name="value_3">
            <input type="text" maxlength="1" size="1" class="input_4" name="value_4">
        </p>
        <input type="hidden" name="action" value="profile_enter_code_from_email">
        <button class="resend">
            <span class="label">{{ __("Resend verification Email", TEXTDOMAIN) }}</span>
            <span class="loader"></span>
        </button>
        <p>{{ __("Alternatively, you can confirm your email address by clicking the confirmation button in the email", TEXTDOMAIN) }}</p>
    </form>
</div>
